
.cormorant-garamond-page3{
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing:auto;
  font-size: 20px;
  font-weight: 500;
  font-style:normal;
}

.containerHead {
    margin: auto;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.topTitle {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;

}

.mainTitle {
    background-color: rgba(236, 190, 39, 0.753);
    min-width: 250px;
    border: 2px dotted white;
    padding: 10px;
}

.centerContent {
    display: flex;
    flex: auto;
    justify-content: center;
    gap: 20px;
    background-color: rgba(236, 190, 39, 0.753);
}

.box {
    min-height: 100px;
    border-radius: 20px;
    flex: auto;
    font-size: 2em;
    text-align: center;
}

.boxCenter {
    border-radius: 20px;
    flex: auto;
    font-size: 16px;
    text-align: justify;
    padding: 10px;
}


.imageBorder {
    display: inline-block;
    background-repeat: repeat;
    background-position: center;
    background-size: contain;
    border-radius: 20px;
}
.videoDesigne{ 
    width: 440px;
    height: 240px;

}