.cormorant-garamond-page3 {
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
}

.containerHead {
    margin: auto;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.topTitle {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;

}

.mainTitle {
    background-color: rgba(236, 190, 39, 0.753);
    min-width: 250px;
    border: 3px dotted white;
    padding: 10px;
}

.centerContent {
    display: flex;
    flex: auto;
    justify-content: center;
    width: 100%;
    background-color: rgba(236, 190, 39, 0.753);
    margin-bottom: 10px;
}

.box {
    min-height: 100px;
    border-radius: 20px;
    flex: auto;
    font-size: 2em;
    text-align: center;
}

.boxCenter {
    border-radius: 20px;
    flex: auto;
    font-size: 16px;
    text-align: justify;
    padding: 10px;

}


.imageBorder {
    display: inline-block;
    background-repeat: repeat;
    background-position: center;
    background-size: contain;
    border-radius: 20px;
}

.imageAvatar {
    display: inline-block;
    flex: auto;
    margin: auto;
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 150px;
    border: 10px solid rgb(247, 193, 31);
}

.videoDesigne {
    width: 440px;
    height: 240px;

}

@media screen and (min-width:700px) {
    .topTitle {
        flex-direction: row;
    }

}